.megasena {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerNumeros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

.numero {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.botao {
  margin: 10px;
  padding: 10px;
  border-radius: 20px 20px 20px 0;
  width: 100px;
  border: 1px solid rgb(63, 62, 62);
  background-color: gray;
  cursor: pointer;
}

.botao:hover {
  border: 1px solid gray;
  background-color: rgb(63, 62, 62);
}
